body {
    background-image: url("https://images6.alphacoders.com/729/729353.jpg")
}

.main {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    margin: 100px 0 0 150px;
    transition: .1s

    
    
}


.car-image {
    
   height: 170px;
   width: 260px;
   margin-left: 15px;


}
.card {

    width: 15vw;
    font-size: 20px;
    border-radius: 5%;
     margin-left: 20px;
     margin-top: 20px;
     background: #67C3EA;
     transition: .5s;
     
    
    
   

}
.card:hover{        
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(2);
        
    }  



.cmp {
    text-align: center;
    display: inline;
    margin-left: 10px;
    

}
.btn1{
    
    background: #67C3EA;
    border-radius: 10%;
    font-size: 10px;
    font-weight: bold;
    margin-left: 80px;
}
.btn2 {
    background: #67C3EA;
    border-radius: 10%;
    font-size: 10px;
    font-weight: bold;
    margin-left: 50px;
}