.about {
    color:#67C3EA;
    font-size: 30px;
    
   
    line-height: 1.8;
    margin: 100px;
    display: inline-block;

}   
.managers {
    display: flex;
    margin-left: 200px;
    /* height: 300px;
    width: 400px; */
}
.self{
    display: inline;
    margin: 30px;
  
    text-align: center;
    
}

.ins{
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50%;
    border: 3px solid rgb(216, 66, 29);
    
}

.name{
    font-size: 30px;
    color: rgb(216, 66, 29);
    
}

.collins {
    margin-top: 50px;

}