.nav {
   
    height: 8vh;
    width: 100vw;
    
}

.search {
    position: absolute; 
    top:0;
    right:1100px;
    background: #67C3EA;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
    outline: none;
    width: 210px;
   
}
.search:focus {
    width: 350px;
    transition: 1s;
    font-size: 30px;
  } 



.dev {
    height: 60px;
    width: 60px;
    border-radius: 55%;
    ;
    margin-left: 20px;
    
}
.auto{
    color: #67C3EA;
    display: inline;
    font-size: 40px;
    
}
.sell {
    color: #67C3EA;
    display: inline;
    font-size: 30px;
    float: right;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    margin-top: 20px;
    background: #200E0E;
    border: 1px solid #67C3EA;
   
}
.cart {
    color: #67C3EA;
    display: inline;
    font-size: 30px;
    float: right;
    border-right: 100px;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 20px;
    background: #200E0E;
    border: 1px solid #67C3EA;
}

.cart:active {
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
   }

.sell:active {
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
   }   